
.conteiner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    max-height: 20%;
    margin: 0 auto;
    background-color: rgba(16, 15, 15, 0.98);
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid white;
   
}

.logo{
    width: 100px;
    height: 80px;
    align-self: center;
}

.nav{
    display: flex;
    gap: 10px;
    align-items: center;
}

.title{
    color: tomato;
    text-shadow: 1px 1px 2px white;
    font-size: 2rem;
    cursor: pointer;

    transition: all .3s ease;
}

.title:hover{
    color: white;
    text-shadow: 2px 2px 4px tomato
}

.input{
    padding: 10px 20px;
    border-radius: 15px;
    border: transparent;
}

.form{
    position: relative;
}

.icon{
    position: absolute;
    right: 0;
    top: -2px;
    margin-top: 8px;
    font-size: 1.5rem;
    margin-right: 8px;
    cursor: pointer;
}

.btn {
    width: 7.5em;
    height: 2.3em;
    margin: 0.5em;
    background: tomato;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
   }
   
   .btn:hover {
    color: black;
   }
   
   .btn:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
   }
   
   .btn:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
   }